@font-face {
  font-family: "Quicksand-Bold", sans-serif;
  src: url("fonts/Quicksand-Bold.woff") format("woff"),
    url("fonts/Quicksand-Bold.woff2") format("woff2"),
    url("fonts/Quicksand-Bold.ttf") format("ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Quicksand-Medium", sans-serif;
  src: url("fonts/Quicksand-Medium.woff") format("woff"),
    url("fonts/Quicksand-Medium.woff2") format("woff2"),
    url("fonts/Quicksand-Medium.ttf") format("ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Quicksand-Regular", sans-serif;
  src: url("fonts/Quicksand-Regular.woff") format("woff"),
    url("fonts/Quicksand-Regular.woff2") format("woff2"),
    url("fonts/Quicksand-Regular.ttf") format("ttf");
  font-weight: 400;
}
