@font-face {
  font-family: "Quicksand-Bold";
  src: url("../fonts/Quicksand-Bold.woff2") format("woff2"),
    url("../fonts/Quicksand-Bold.woff") format("woff"),
    url("../fonts/Quicksand-Bold.ttf") format("ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Quicksand-Medium";
  src: url("../fonts/Quicksand-Medium.woff2") format("woff2"),
    url("../fonts/Quicksand-Medium.woff") format("woff"),
    url("../fonts/Quicksand-Medium.ttf") format("ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Quicksand-Regular";
  src: url("../fonts/Quicksand-Regular.woff2") format("woff2"),
    url("../fonts/Quicksand-Regular.woff") format("woff"),
    url("../fonts/Quicksand-Regular.ttf") format("ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Quicksand-Light";
  src: url("../fonts/Quicksand-Light.woff2") format("woff2"),
    url("../fonts/Quicksand-Light.woff") format("woff"),
    url("../fonts/Quicksand-Light.ttf") format("ttf");
  font-weight: 300;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?abbn4s");
  src: url("../fonts/icomoon.eot?abbn4s#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?abbn4s") format("truetype"),
    url("../fonts/icomoon.woff?abbn4s") format("woff"),
    url("../fonts/icomoon.svg?abbn4s#icomoon") format("svg");
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wordpress:before {
  content: "\f19a";
}
