$smoke: #eef1f3;
$smoke-2: #eff1f5;
$blue: #0674ec;
$blue-2: #58c9e9;
$blue-3: #5c87f8;
$blue-bg: #2548cc;
$light-blue: #a3b1c4;
$link-blue: #395799;
$link-blue-2: #19b2f5;
$link-red: #f05b44;
$link-burgundy: #9c0c1c;
$link-blue-3: #0da6be;
$link-pink: #ea4c89;

$grey: #7c7979;
$grey-2: #808080;
$grey-3: #e8e8e8;
$grey-4: #999999;
$dark-grey: #555555;
$grey-5: #ababab;

$dark: #333333;
$total-dark: #212225;

$yellow: #feb71d;

$purple: #7f4ec2;
$purple-2: #7347c1;
$purple-3: #ac7fb8;

$border: #d9dfe5;
$placeholder: #898f96;

$white: #f3f3f8;
$white-2: #f6f7fb;
$white-3: #ececec;

$red: #ff6a6c;

$green: #62d03b;
$green-2: #009688;
$green-3: #77de51;

$footer-bg-content: #262b30;
$footer-bg-copy: #192027;
