$smoke: #eef1f3;
$blue: #0674ec;
$blue-bg: #2548cc;
$grey: #7c7979;
$light-blue: #a3b1c4;

$dark-grey: #555555;
$dark: #333333;
$border: #d9dfe5;
$placeholder: #898f96;
$white: #f3f3f8;
$white-2: #f6f7fb;
$red: #ff6a6c;
$green: #62d03b;
$green-2: #009688;
$arrows: #7347c1;
