@import "fonts";
@import "vars";
@import "global";

// __________________++HEADER++____________________

.header {
  &__top {
    background-color: $smoke;
    &-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100px;
    }
    &-logo {
      &-item {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Quicksand-Bold";
        font-weight: 300;
        font-size: 30px;
        line-height: 28px;
        color: $blue;
        transition: all 0.3s;
        span {
          margin-left: 5px;
          color: #000;
        }
        &:hover {
          opacity: 0.7;
        }
      }
    }
    &-links {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &-button {
      &-item {
        padding: 5px 15px;
        margin-right: 50px;
        background-color: $blue;
        border: none;
        border-radius: 50px;
        font-size: 14px;
        line-height: 28px;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
        color: #fff;
        transition: all 0.3s;
        &:hover {
          color: $blue;
          background-color: #fff;
        }
      }
    }
    &-notifications {
      position: relative;
      display: flex;
      margin-right: 18px;
      &-item-1 {
        margin-right: 30px;
        .notifications__ball-item {
          background-color: $red;
        }
      }
      &-item-2 {
        margin-right: 30px;
        .notifications__ball-item {
          background-color: $green;
        }
      }
      &-item-3 {
        margin-right: 30px;
        .notifications__ball-item {
          background-color: $blue;
        }
      }
    }
    .ball-item {
      position: absolute;
      padding: 3px 5px;
      font-size: 12px;
      line-height: 14px;
      border-radius: 50px;
      color: #fff;
      z-index: 2;
    }
    .notifications__ball {
      color: #000;
      &-alarm {
        top: -8px;
        right: 113px;
        background-color: $red;
      }
      &-mail {
        top: -8px;
        right: 64px;
        padding: 3px 7px;
        background-color: $green;
      }
      &-basket {
        top: -8px;
        right: 15px;
        padding: 3px 7px;
        background-color: $blue;
      }
      span {
        font-size: 20px;
      }
    }

    &-person {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-avatar {
        height: 50px;
        width: 50px;
        margin-right: 22px;
        background-color: $grey;
        border-radius: 50%;
      }
      &-user {
        font-family: "Quicksand-Medium";
        font-weight: 500;
        line-height: 22px;
        &-name {
          font-size: 16px;
        }
        &-money {
          font-family: "Quicksand-Medium";
          font-weight: 500;
          font-size: 15px;
          color: $blue;
        }
      }
    }
  }
  &__menu {
    &-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 80px;
    }
    &-list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      li {
        display: inline-block;
        margin: 35px 35px 35px 0;
      }
      &-item {
        color: $dark;
        font-family: "Quicksand-Bold";
        text-transform: uppercase;
        font-weight: 500;
        font-size: 15px;
        transition: all 0.3s;
        &:hover {
          opacity: 0.7;
        }
      }
    }
    &-form {
      position: relative;
      &-input {
        padding: 15px 150px 15px 25px;
        border: 1px solid $border;
        border-radius: 50px;
        font-size: 15px;
        outline: none;
        &::placeholder {
          color: $placeholder;
        }
      }
      &-search {
        position: absolute;
        right: 0;
        height: 49px;
        width: 70px;
        padding: 0;
        border-radius: 50px;
        border-width: 0;
        background-color: $blue;
        color: #fff;
        outline: none;
        transition: all 0.3s;
        img {
          margin-top: 3px;
        }
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}

// __________________--HEADER--____________________

// __________________++INFO++____________________

.info {
  position: relative;
  text-align: center;
  background-color: $blue-bg;

  color: $white;
  min-height: 725px;
  &__wrapper {
  }
  &__title {
    padding-top: 175px;
    font-family: "Quicksand-Regular";
    font-weight: 400;
    font-size: 60px;
    line-height: 70px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);

    span {
      font-family: "Quicksand-Bold";
      font-weight: 700;
    }
  }
  &__subtitle {
    margin-top: 20px;
    font-family: "Quicksand-Medium";
    font-size: 20px;
    font-weight: 500;
  }
  &__links {
    margin-top: 70px;
    &-item {
      margin-right: 30px;
      padding: 10px 28px;
      border: 1px solid #fff;
      border-radius: 50px;
      color: #fff;
      background-color: $blue-bg;
      transition: all 0.3s;
      &:hover {
        color: $blue;
        background-color: #fff;
      }
    }
  }
}

// __________________--INFO--____________________

// __________________++SEARCH++____________________

.search-item {
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  border-radius: 6px;
  background-color: #fff;
  opacity: 0.5;
}

.info__search {
  &-smoke-item-1 {
    bottom: -38px;
    max-width: 1080px;
    min-height: 135px;
  }
  &-smoke-item-2 {
    bottom: -53px;
    max-width: 1110px;
    min-height: 135px;
  }
  &-form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: -68px;
    max-width: 1140px;
    min-height: 135px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
    opacity: 1;
    z-index: 2;
  }
  &-input {
    position: relative;
    margin-right: 30px;
    margin-left: 40px;
    &-item {
      min-width: 805px;
      min-height: 55px;
      padding-left: 30px;
      border-radius: 4px;
      border-width: 1px;
      border-style: solid;
      border-color: #dcdcdc;
      font-size: 16px;
      font-weight: 400;
      outline: none;
    }
  }
  &-select {
    position: absolute;
    right: 300px;
    color: $dark-grey;
    border-left: 1px solid #dcdcdc;

    &-item {
      top: -26px;
      right: 31px;
      display: flex;
      padding-left: 20px;
      min-width: 195px;
      min-height: 52px;
      border: none;
      justify-content: center;
      align-items: center;
      appearance: none;
      cursor: pointer;
      outline: 0;
    }
    span {
      top: 19px;
      right: 16px;
      position: absolute;
      margin-left: 30px;
      pointer-events: none;
    }
  }
  &-button {
    display: flex;
    margin-right: 40px;
    width: 223px;
    height: 55px;
    justify-content: center;
    align-items: center;
    font-family: "Quicksand-Regular";
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    background-color: $blue;
    border: none;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      opacity: 0.7;
    }
  }
}

// __________________--SEARCH--____________________

// __________________++ADVANTAGES++____________________

.advantages {
  padding-bottom: 120px;
  &__wrapper {
    display: flex;
    margin-top: 185px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }
  &__item {
    height: 400px;
    width: 360px;
    transition: all 0.3s;
    &-img {
      margin-top: 40px;
      margin-bottom: 30px;
    }
    &-title {
      margin-bottom: 30px;
      font-size: 24px;
      font-weight: 400;
    }
    &-text {
      width: 300px;
      margin: 0 auto;
      font-size: 16px;
      font-weight: 400;
    }
    &:hover {
      background-color: #fff;
      box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    }
  }
}

// __________________--ADVANTAGES--____________________

// __________________++PRODUCT++____________________

.product {
  background-color: $smoke;
  margin: 0;
  &__wrapper {
    padding: 120px 0;
  }
  &__top {
    display: flex;
    padding: 30px;
    margin-bottom: 50px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    justify-content: space-between;
    align-items: center;
    &-title {
      font-size: 30px;
      line-height: 28px;
    }
    &-arrows {
      position: relative;
      min-width: 110px;
      min-height: 45px;
      border-radius: 50px;
      background-color: $arrows;
      &-left {
        right: 75px;
      }
      &-right {
        right: 17px;
      }
      .top-arrows {
        display: inline-block;
        position: absolute;
        top: 8px;
        bottom: 0;
        margin: 0 auto;
        height: 16px;
        width: 16px;
        color: #fff;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
  &__item {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 4px;
    outline: none;
    &-image {
      background-color: $dark-grey;
      min-width: 555px;
      min-height: 450px;
      border-radius: 4px;
    }
    &-info {
      margin-top: 35px;
      padding: 0 50px;
      &-title {
        margin-bottom: 15px;
        font-family: "Quicksand-Bold";
        font-weight: 700;
        font-size: 24px;
      }
      &-person {
        margin-bottom: 25px;
        display: flex;
        align-items: center;
        &-avatar {
          height: 30px;
          width: 30px;
          margin-right: 9px;
          background-color: $arrows;
          border-radius: 50%;
        }
        &-name {
          margin-right: 20px;
          font-family: "Quicksand-Medium";
          font-weight: 500;
          color: #000;
          cursor: pointer;
          transition: all 0.3s;
          &:hover {
            opacity: 0.7;
          }
        }
        &-platform {
          color: $arrows;
          cursor: pointer;
          transition: all 0.3s;
          span {
            margin-right: 6px;
          }
          &:hover {
            opacity: 0.7;
          }
        }
      }
      &-text {
        color: $dark-grey;
        font-size: 16px;
      }
      &-properties {
        padding: 35px 0;
        border-bottom: 1px solid $smoke;
        display: flex;
        align-items: center;

        &-category {
          padding: 0 15px;
          margin-right: 8px;
          border-radius: 50px;
          color: $placeholder;
          background-color: $smoke;
          cursor: pointer;
        }
      }
      &-data {
        position: relative;
        margin: 25px 0;
        display: flex;
        align-items: center;
        &-prise {
          margin-right: 20px;
          padding: 0 20px;
          color: #fff;
          font-family: "Quicksand-Medium";
          font-size: 15px;
          border-radius: 50px;
          background-color: $blue;
          transition: all 0.3s;
          cursor: pointer;
          &:hover {
            background-color: $smoke;
            color: $blue;
          }
        }
        &-likes {
          margin-right: 20px;
          cursor: pointer;
          transition: all 0.3s;
          span {
            color: $arrows;
          }
          &:hover {
            opacity: 0.7;
          }
        }
        &-buys {
          color: $blue;
          cursor: pointer;
          transition: all 0.3s;
          &:hover {
            opacity: 0.7;
          }
        }
        &-stars {
          position: absolute;
          right: 10px;
        }
      }
    }
  }
}

// __________________--PRODUCT--____________________

// __________________++CONTENT++____________________

.content {
  background-color: $white-2;
  margin: 0;
  &__wrapper {
    padding: 120px 0;
  }
  &__top {
    display: flex;
    padding: 30px;
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    justify-content: space-between;
    align-items: center;
    &-title {
      font-size: 30px;
      line-height: 28px;
    }
    &-filter {
      display: flex;
      justify-content: space-between;
      &-text {
        color: $grey;
      }
      &-points {
        span {
          display: block;
          padding-top: 5px;
          margin-left: 25px;
          font-size: 20px;
          color: $light-blue;
          cursor: pointer;
        }
      }
    }
  }
  &__inner {
    &-btn {
      margin-bottom: 20px;
      padding: 30px;
      background-color: #fff;
      box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
      border-radius: 4px;
      &-item {
        margin-right: 6px;
        padding: 10px 20px;
        background-color: $smoke;
        border-radius: 50px;
        border: none;
        outline: none;
        transition: all 0.3s;
        &:hover {
          background-color: $blue;
          color: #fff;
        }
      }
    }
    &-box {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
  &__item {
    max-width: 365px;
    min-height: 230px;
    margin: 30px 0;
    background-color: #fff;
    &-image {
      position: relative;
      height: 230px;
      border-radius: 4px;
      transition: background 1s;
      background-image: linear-gradient(
        90deg,
        rgb(0, 150, 136) 0%,
        rgb(0, 150, 136) 46%,
        rgb(0, 150, 136) 100%
      );
      &-buttons {
        padding-top: 90px;
        margin: 0 45px;
      }
      .content__image-bnt {
        display: none;
        padding: 17px 30px;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 50px;
        font-family: "Quicksand-Medium";
        font-weight: 500;
        line-height: 15px;
        font-size: 15px;
        transition: all 0.3s;
        &:hover {
          color: $blue;
          background-color: #fff;
        }
      }
      &-bnt-1 {
        margin-right: 5px;
      }
      &-bnt-2 {
      }

      &:hover {
        border-radius: 4px;
        opacity: 1;
        transition: all 0.3s;
        background-image: linear-gradient(
          90deg,
          rgb(6, 116, 236) 0%,
          rgb(61, 94, 215) 46%,
          rgb(115, 71, 193) 100%
        );
        .content__image-bnt {
          display: inline-block;
        }
      }
    }
    &-info {
      &-title {
        padding: 0 30px;
        margin-top: 20px;
        margin-bottom: 13px;
        font-family: "Quicksand-Bold";
        font-size: 20px;
        font-weight: 700;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
          opacity: 0.7;
        }
      }
      &-person {
        padding: 0 30px;
        display: flex;
        margin-bottom: 25px;
        align-items: center;

        &-avatar {
          height: 30px;
          width: 30px;
          margin-right: 9px;
          background-color: $arrows;
          border-radius: 50%;
          cursor: pointer;
        }
        &-name {
          margin-right: 20px;
          cursor: pointer;
          transition: all 0.3s;
          &:hover {
            opacity: 0.7;
          }
        }
        &-platform {
          color: $arrows;
          cursor: pointer;
          transition: all 0.3s;
          span {
            margin-right: 6px;
          }
          &:hover {
            opacity: 0.7;
          }
        }
      }
      &-text {
        padding: 0 30px;
        color: $dark-grey;
        font-size: 16px;
      }
      &-data {
        position: relative;
        padding: 0 30px;
        position: relative;
        margin-top: 25px;
        display: flex;
        border-top: 1px solid #ececec;
        align-items: center;
        &-prise {
          margin: 15px 20px 15px 0;
          padding: 0 15px;
          color: $blue;
          font-family: "Quicksand-Medium";
          font-size: 15px;
          border-radius: 50px;
          background-color: $smoke;
          transition: all 0.3s;
          cursor: pointer;
          &:hover {
            background-color: $blue;
            color: #fff;
          }
        }
        &-likes {
          display: flex;
          justify-content: center;
          margin-right: 10px;
          cursor: pointer;
          transition: all 0.3s;
          span {
            display: block;
            margin-top: 7px;
            margin-right: 8px;
            color: $arrows;
          }
          &:hover {
            opacity: 0.7;
          }
        }
        &-stars {
        }
        &-buys {
          position: absolute;
          top: 14px;
          right: 26px;
          display: flex;
          justify-content: flex-end;
          color: $blue;
          cursor: pointer;
          span {
            display: block;
            margin-top: 7px;
            margin-right: 8px;
          }
        }
      }
    }
  }
  &__bottom {
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    &-btn {
      padding: 15px 25px;
      background-color: $blue;
      border: none;
      border-radius: 50px;
      font-size: 16px;
      line-height: 28px;
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
      color: #fff;
      transition: all 0.3s;
      &:hover {
        color: $blue;
        background-color: #fff;
      }
    }
  }
}

.stars-item {
}

// __________________--CONTENT--____________________

// __________________++FOLLOWERS++____________________

.followers {
  padding-top: 120px;
  background-color: $smoke;
  &__wrapper {
  }
  &__top {
    display: flex;
    padding: 30px;
    margin-bottom: 25px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    justify-content: space-between;
    align-items: center;
    &-title {
      font-size: 30px;
      line-height: 28px;
    }
    &-arrows {
      position: relative;
      min-width: 110px;
      min-height: 45px;
      border-radius: 50px;
      background-color: $arrows;
      &-left {
        right: 75px;
      }
      &-right {
        right: 17px;
      }
      .top-arrows {
        display: inline-block;
        position: absolute;
        top: 8px;
        bottom: 0;
        margin: 0 auto;
        height: 16px;
        width: 16px;
        color: #fff;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
  &__slider {
  }
  &__item {
    max-width: 365px;
    min-height: 230px;
    margin: 30px 0;
    background-color: #fff;
    &-image {
      position: relative;
      height: 230px;
      border-radius: 4px;
      transition: background 1s;
      background-image: linear-gradient(
        90deg,
        rgb(0, 150, 136) 0%,
        rgb(0, 150, 136) 46%,
        rgb(0, 150, 136) 100%
      );
      &-buttons {
        padding-top: 90px;
        margin: 0 45px;
      }
      .followers__image-bnt {
        display: none;
        padding: 17px 30px;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 50px;
        font-family: "Quicksand-Medium";
        font-weight: 500;
        line-height: 15px;
        font-size: 15px;
        transition: all 0.3s;
        &:hover {
          color: $blue;
          background-color: #fff;
        }
      }
      &-bnt-1 {
        margin-right: 5px;
      }
      &-bnt-2 {
      }

      &:hover {
        border-radius: 4px;
        opacity: 1;
        background-image: linear-gradient(
          90deg,
          rgb(6, 116, 236) 0%,
          rgb(61, 94, 215) 46%,
          rgb(115, 71, 193) 100%
        );
        .followers__image-bnt {
          display: inline-block;
        }
      }
    }
    &-info {
      &-title {
        padding: 0 30px;
        margin-top: 20px;
        margin-bottom: 13px;
        font-family: "Quicksand-Bold";
        font-size: 20px;
        font-weight: 700;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
          opacity: 0.7;
        }
      }
      &-person {
        padding: 0 30px;
        display: flex;
        margin-bottom: 25px;
        align-items: center;

        &-avatar {
          height: 30px;
          width: 30px;
          margin-right: 9px;
          background-color: $arrows;
          border-radius: 50%;
          cursor: pointer;
        }
        &-name {
          margin-right: 20px;
          cursor: pointer;
          transition: all 0.3s;
          &:hover {
            opacity: 0.7;
          }
        }
        &-platform {
          color: $arrows;
          cursor: pointer;
          transition: all 0.3s;
          span {
            margin-right: 6px;
          }
          &:hover {
            opacity: 0.7;
          }
        }
      }
      &-text {
        padding: 0 30px;
        color: $dark-grey;
        font-size: 16px;
      }
      &-data {
        position: relative;
        padding: 0 30px;
        position: relative;
        margin-top: 25px;
        display: flex;
        border-top: 1px solid #ececec;
        align-items: center;
        &-prise {
          margin: 15px 20px 15px 0;
          padding: 0 15px;
          color: $blue;
          font-family: "Quicksand-Medium";
          font-size: 15px;
          border-radius: 50px;
          background-color: $smoke;
          transition: all 0.3s;
          cursor: pointer;
          &:hover {
            background-color: $blue;
            color: #fff;
          }
        }
        &-likes {
          display: flex;
          justify-content: center;
          margin-right: 10px;
          cursor: pointer;
          transition: all 0.3s;
          span {
            display: block;
            margin-top: 7px;
            margin-right: 8px;
            color: $arrows;
          }
          &:hover {
            opacity: 0.7;
          }
        }
        &-stars {
        }
        &-buys {
          position: absolute;
          top: 14px;
          right: 26px;
          display: flex;
          justify-content: flex-end;
          color: $blue;
          cursor: pointer;
          span {
            display: block;
            margin-top: 7px;
            margin-right: 8px;
          }
        }
      }
    }
  }
}

// __________________--FOLLOWERS--____________________
